// Colors
$gray-200: #e4e4e4;
$gray-600: #717171;
$orange: #ff6e01;
$pink: #d61f67;
$green: #0e9d1e;

// Body
$body-bg: #f2f2f2;

// Fonts
$hr-border-color: $gray-200;
$hr-border-width: 2px;

// Forms
$input-border-color: $orange;

// Navbar
$navbar-light-color: #2d3535;
$navbar-light-hover-color: #f0531e;
$navbar-light-active-color: #f0531e;

// Typography
$font-family-base: 'Lato', sans-serif;

